.text-span{
    font-weight: 400;
}
.navbar-brand{
    font-family: 'Poppins', serif;
    font-weight: 600;
}
.navbar-nav{
    font-family: 'Poppins', serif;
    font-weight: 500;
}
.bg-dark{
    background-color: #151419 !important;
}
.nav-item{
    margin-right: 2em;
}
.navbar-brand img{
    margin-right: -5px;
}